.hotels {
  display: grid;
  gap: 2rem;
  grid-template-columns: 3fr 2fr;
  margin-top: 3rem;
  margin-bottom: 4rem;

  @media screen and (max-width: 48em) {
    grid-template-columns: 1fr;
  }

  &__map {
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}
