.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 1.2rem 2.4rem;
  font-size: var(--font-sm);
  font-weight: bold;
  color: #fff;
  background: linear-gradient(to right bottom, #ae3ec9, #1971c2);
  border: none;
  border-radius: 100px;
  cursor: pointer;
  position: relative;
}

.hide {
  opacity: 0;
}

.loading {
    position: relative;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
