.list {
    margin-top: 1.5rem;

    &__name {
        font-size: var(--font-sm-2);
        font-weight: 600;
    }

    &__ulist {
        list-style: none;
    }

    &__item {
        display: inline-block;
        font-size: var(--font-sm-2);
        font-weight: 400;
    }
}