.calendar {
  position: absolute;
  top: 100%;

  padding: 1rem;
  background-color: var(--color-white);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  z-index: 999;

  &_chart {
    text-decoration: none !important;
    border: none !important;
    overflow: hidden;
  }

  &_box {
    display: flex;
    justify-content: space-between;

    padding: 1rem 2rem 0 2rem;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.2);

    &_line {
      width: 1px;
      background-color: rgba(0, 0, 0, 0.2);
    }

    &_check {
      text-align: center;

      h4 {
        font-size: var(--font-sm);
        font-weight: 300;
      }
    }
  }
}
