.search {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 5rem;

  &__calendar,
  &__accomodation {
    display: flex;
    align-items: center;
    background-color: #dee2e6;
    border-radius: 12px;
  }

  &__input {
    display: flex;
    align-items: center;
    background-color: #dee2e6;
    border-radius: 12px;
    align-self: stretch;

    &:hover,
    &:hover &_box {
      background-color: #ced4da;
    }

    svg {
      margin-left: 10px;
    }

    &_box {
      border: none;
      outline: none;
      padding: 1rem 2rem;
      background-color: #dee2e6;
      border-radius: 12px;
      height: 100%;
    }
  }

  &__calendar {
    &_icon {
      display: flex;
      gap: 1rem;
      align-items: center;
      padding: 1rem 2rem;
      border-radius: 12px;

      &:hover {
        background-color: #ced4da;
        cursor: pointer;
      }
    }

    &_line {
        width: 1px;
        background-color: #888;
      }
  }

  &__accomodation {
    padding: 1rem 2rem;

    &:hover {
      background-color: #ced4da;
      cursor: pointer;
    }
  }
}
