.search {
  gap: 1rem;
  justify-content: center;
  margin-top: 5rem;
  font-size: var(--font-sm-2);

  &__calendar,
  &__accomodation {
    display: flex;
    align-items: center;
    background-color: var(--color-grey-light-1);
    border-radius: 12px;
  }

  &__input {
    display: flex;
    align-items: center;
    border-radius: 12px;
    align-self: stretch;

    svg {
      z-index: 1;
    }

    &_field {
      font-family: inherit;
      border: none;
      outline: none;
      margin-left: -4.5rem;
      padding: 1rem 2rem 1rem 6rem;
      background-color: var(--color-grey-light-1);
      border-radius: 12px;
      height: 100%;
      transition: all 0.3s;

      &:hover {
        background-color: var(--color-grey-light-2);
      }

      &::-webkit-input-placeholder {
        font-size: var(--font-sm-2);
      }
    }
  }

  &__calendar {
    position: relative;

    &_booking {
      display: flex;
      gap: 1rem;
      align-items: center;
      padding: 1rem 2rem;
      border-radius: 12px;
      transition: all 0.3s;

      &:hover {
        background-color: var(--color-grey-light-2);
        cursor: pointer;
      }
    }
  }

  &__accomodation {
    position: relative;

    gap: 1rem;
    padding: 1rem 2rem 1rem 2rem;
    transition: all 0.3s;

    &:hover {
      background-color: var(--color-grey-light-2);
      cursor: pointer;
    }
  }

  &__icon {
    width: 2.4rem;
    height: 2.4rem;
  }
}
