.button {
  background: linear-gradient(to right bottom, #228be6, #1971c2);
  color: var(--color-white);
  border-radius: 12px;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  position: relative;

  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: linear-gradient(to right bottom, #1c7ed6, #1864ab);
    z-index: -1;
    transition: all 0.2s ease-in-out;
  }

  &__icon {
    width: 2.2rem;
    height: 2.2rem;
  }

  &:hover::after {
    opacity: 1;
  }
}
