@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1.8;
  color: #343a40;
  overflow-x: hidden;
}

/* 5.12   6.4   8   10   12.5   15.63   19.53   24.41   30.52   
38.15   47.68   59.6   74.51   93.13   116.42 */

:root {
  --color-primary: #1971c2;
  --color-primary-dark: #1864ab;
  --color-primary-light: #1c7ed6;
  --color-grey-light-2: #e9ecef;
  --color-grey-light: #dee2e6;
  --color-grey: #ced4da;
  --color-grey-dark: #888;
  --color-white: #fff;
  --color-black: #000;
  --color-secondary: #f76707;

  --font-ty: 1rem;
  --font-sm: 1.25rem;
  --font-sm-2: 1.563rem;
  --font-md: 1.953rem;
  --font-md-2: 2.441rem;
  --font-bg: 3.052rem;
  --font-lrg: 3.815rem;
  --font-huge: 4.768rem;

  --color-font: #343a40;
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
}

.flex-vertical {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 110rem;
  margin: 0 auto;
}

.icon {
  width: 2.2rem;
  height: 2.2rem;
}

.button-blue:link,
.button-blue:visited {
  text-decoration: none;
  background: linear-gradient(to right bottom, #ae3ec9, #1971c2);
  color: var(--color-white);
  border-radius: 12px;
  cursor: pointer;
  position: relative;

  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}
.button-blue::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: linear-gradient(to right bottom, #862e9c, #1864ab);
  z-index: -1;
  transition: all 0.2s ease-in-out;
}

.button-blue:hover::after,
.button-blue:active::after {
  opacity: 1;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.see-all-button:link,
.see-all-button:visited {
  text-decoration: none;
  padding: 0.6rem 1.2rem;
  border: 1.5px solid var(--color-black);
  color: var(--color-black);
  border-radius: 6px;
  font-size: var(--font-sm);
  font-weight: 500;
  transition: all 0.3s;
}

.see-all-button:hover,
.see-all-button:active {
  background-color: var(--color-grey-light-2);
}

.secondary-heading {
  font-size: var(--font-md-2);
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.detail-section {
  padding-top: 1rem;
  margin-bottom: 6rem;
  border-top: 2px solid var(--color-black);
}

.mobile-section {
  padding-top: 1rem;
  margin-bottom: 6rem;
}

.modal--show {
  overflow: hidden;
}

.overlay {
  position: relative;
}

.overlay::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  transition: all 0.3s;
}

.overlay:hover::after {
  opacity: 0;
}