@media screen and (max-width: 73.75em) {
    .container {
        max-width: 100rem;
    }
}

@media screen and (max-width: 64.25em) {
    .container {
        max-width: 80rem;
    }
}

@media screen and (max-width: 48em) {
    .container {
        max-width: 60rem;
    }
}

@media screen and (max-width: 40em) {
    html {
        font-size: 50%;
    }

    .container {
        max-width: 40rem;
    }
}

@media screen and (max-width: 20em) {
    html {
        font-size: 37.5%;
    }

    .container {
        max-width: 50rem;
    }
}

@media screen and (min-width: 87.5em) {
    html {
        font-size: 68.75%;
    }
    .container {
        max-width: 120rem;
    }
}

@media screen and (min-width: 100em) {
    html {
        font-size: 75%;
    }
    .container {
        max-width: 130rem;
    }
}

@media screen and (min-width: 118.75em) {
    html {
        font-size: 87.5%;
    }
    .container {
        max-width: 135rem;
    }
}

