.navigation {

  &__cta {
    font-size: var(--font-md);
  }

  &__btn {
    font-size: var(--font-sm);
    font-weight: 600;
    background: none;
    border: 1.5px solid var(--color-black);
    border-radius: 4px;
    padding: 1rem 2rem;
    color: var(--color-black);
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: var(--color-black);
      color: var(--color-white);
    }
  }
}
